In [1]:
import pandas as pd
import numpy as np

In [2]:
n=18
col_name=[('x'+str(i+1)) for i in range(n)]
df=pd.DataFrame(np.random.rand(1,18),columns=col_name)
df

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18
0,0.629784,0.986896,0.314926,0.4575,0.166333,0.916593,0.15082,0.716858,0.067091,0.190591,0.56039,0.702581,0.993328,0.154033,0.008371,0.300603,0.874158,0.30951

In [5]:
df.reindex(columns=col_name)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18
0,0.629784,0.986896,0.314926,0.4575,0.166333,0.916593,0.15082,0.716858,0.067091,0.190591,0.56039,0.702581,0.993328,0.154033,0.008371,0.300603,0.874158,0.30951

In [1]:
3/7

0.42857142857142855