In [66]:
import numpy as np
import pandas as pd

In [67]:
data = np.array([[0, 1, 1, 0, 1, 1, 0, 0, 1, 1],
                 [1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
                 [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
                 [1, 1, 0, 1, 0, 1, 0, 1, 1, 1],
                 [0, 0, 1, 0, 1, 0, 0, 0, 1, 0],
                 [1, 0, 1, 1, 0, 0, 0, 0, 0, 1]])

In [68]:

df=pd.DataFrame(data)

def cal_z(ser,ps):

    r=ps.map(lambda x:np.power(x,ser['x'])*np.power(1-x,ser['q']))
    return (r.div(r.sum())).round(2)

def e():
    ps=pd.Series([0.6,0.5],index=['a','b'])
    count=df.apply(lambda x:x.value_counts(),axis=1)
    count.columns=['q','x']
    c=count.apply(cal_z,axis=1,args=(ps,))
    
    return c

z=e()
z

      a     b
0  0.55  0.45
1  0.27  0.73
2  0.19  0.81
3  0.65  0.35
4  0.27  0.73
5  0.35  0.65

In [114]:
def f(ser,count):

    res=(ser.values.T)*count.values

    k=pd.DataFrame(res,columns=count.columns)


    return k.sum()['x']/k.sum().sum()

    # return pd.DataFrame(res,index=range(len(df)))


def m():
    count=df.apply(lambda x:x.value_counts(),axis=1)
    count.columns=['q','x']
    # print(count)

    res=z.T.groupby(level=0).apply(f,count)

    return res.round(2)

m()

a    0.49
b    0.37
dtype: float64